<div class="absolute hidden w-full h-full bg-transparent" id="categories_modal">
    <div class="absolute bg-gray-600 h-32 w-32 p-2 border border-[#1e272e]"  id="categories_modal_content">
        <div class="divide-y h-full overflow-y-scroll  divide-[#1e272e]">
            <% if(user_data.categories.length == 0){ %>
                no categories here
            <% }else{ %>
                <%for (let i = 0; i < user_data.categories.length; i++) { %>
                    <div id="<%= user_data.categories[i]._id %>" class="selected_category  flex flex-row cursor-pointer p-2 overflow-hidden truncate flex items-center"  onmouseenter="this.style.backgroundColor = '<%= user_data.categories[i].color %>'" onmouseleave="this.style.backgroundColor = 'transparent'">
                        <div class="w-3 h-3 rounded-sm " style="background-color: <%= user_data.categories[i].color %>" > </div>
                        &nbsp;&nbsp;
                        <%= user_data.categories[i].name %>
                    </div>
                <% } %>
            <% } %>
        </div>
    
    </div>
</div>

