<div  class="h-full w-full absolute hidden bg-[rgb(0,0,0,0.5)] flex items-center justify-center " id="create_space_modal" >
    <div tabindex="-1" aria-hidden="true" class="inside_modal overflow-y-auto overflow-x-hidden absolute  z-50 h-modal justify-center items-center">
        <div class="relative p-4 w-full max-w-2xl h-full md:h-auto">
            <div class="relative bg-white rounded-lg shadow dark:bg-gray-700">
                
                <div>
                    <input type="text" id="name_create_space" required>
                    <button id="submit_create_space">submit</button>
                </div>
              
            </div>
        </div>
    </div>
</div>

