<!--
<div  class="h-full w-full absolute hidden bg-[rgb(0,0,0,0.5)] flex items-center justify-center " id="success_modal" >
    <div tabindex="-1" aria-hidden="true" class="inside_modal overflow-y-auto overflow-x-hidden absolute  z-50 h-modal justify-center items-center">
        <div class="relative p-4 w-full max-w-2xl h-full md:h-auto">
            <div class="relative bg-white rounded-lg shadow dark:bg-gray-700">
                
                <div id="alert_content">
                    hallo 
                </div>
              
            </div>
        </div>
    </div>
</div>
-->

<!-- absolute not working here idk why -->
<div class="w-96 h-12 text-[#7c68ee] border  hidden flex items-center justify-between px-4" id="success_modal"  style="position: absolute; top:80px; right:24px; border-color: #7c68ee ; background-color: rgba(56, 46, 109);">
    <div class="">
        success must be changed later
    </div>
    <div  class="cursor-pointer" id="close_success_modal">
        <%- include('../icons/close.svg') %> 
    </div>
</div>