<!--
<div  class="h-full w-full absolute hidden bg-[rgb(0,0,0,0.5)] flex items-center justify-center " id="success_modal" >
    <div tabindex="-1" aria-hidden="true" class="inside_modal overflow-y-auto overflow-x-hidden absolute  z-50 h-modal justify-center items-center">
        <div class="relative p-4 w-full max-w-2xl h-full md:h-auto">
            <div class="relative bg-white rounded-lg shadow dark:bg-gray-700">
                
                <div id="alert_content">
                    hallo 
                </div>
              
            </div>
        </div>
    </div>
</div>
-->

<div class="w-96 h-12 bg-[rgba(115,68,250,0.1)] border absolute right-10 top-20 flex items-center hidden" id="success_modal" >
    <div id="close_success_modal">
        X
    </div>
    <div class="px-10">
        success must be changed later
    </div>
</div>