<div class="absolute hidden w-full h-full flex items-center justify-center bg-blue-600 p-8" id="task_modal">
    <div class="bg-red-600 w-full h-full" id="task_modal_content">
        here all other elements
    </div>
</div>

