<div class="absolute hidden w-full h-full" id="types_modal">
    <div class="absolute bg-gray-600 h-32 w-32 p-2 shadow-lg "  id="types_modal_content">
        <div class="divide-y">
            <% if(user_data.types.length == 0){ %>
                no types here
            <% }else{ %>
                <%for (let i = 0; i < user_data.types.length; i++) { %>
                    <div id="<%= user_data.types[i]._id %>" class="selected_type  flex flex-row  items-center cursor-pointer p-2" onmouseenter="this.style.backgroundColor = '<%= user_data.types[i].color %>'" onmouseleave="this.style.backgroundColor = 'transparent'">
                        <div class="w-3 h-3 rounded-sm " style="background-color: <%= user_data.types[i].color %>" > </div>
                        &nbsp;&nbsp;
                        <%= user_data.types[i].name %>
                    </div>
                <% } %>
            <% } %>
        </div>
    
    </div>
</div>

