<div class="absolute hidden w-full h-full bg-transparent" id="categories_modal">
    <div class="absolute bg-red-600 h-32 w-32  "  id="categories_modal_content">
        <div class="divide-y">
            <ul>
                <% if(user_data.categories.length == 0){ %>
                    no categories here
                <% }else{ %>
                    <%for (let i = 0; i < user_data.categories.length; i++) { %>
                        <li id="<%= user_data.categories[i]._id %>" class="selected_categorie" style="background-color: <%= user_data.categories[i].color %>"><%= user_data.categories[i].name %></li>
                    <% } %>
                <% } %>
            </ul>
            <div>
                you can add and edit categories in the seetings page
            </div>
        </div>
    
    </div>
</div>

