<div  class="h-full w-full absolute hidden bg-[rgb(0,0,0,0.5)] flex items-center justify-center " id="create_space_modal" >
    <div tabindex="-1" aria-hidden="true" class="inside_modal overflow-y-auto overflow-x-hidden absolute  z-50 h-modal justify-center items-center">
      <div class="relative p-4 w-full max-w-2xl h-full md:h-auto">
          <!-- Modal content -->
          <div class="relative bg-white rounded-lg shadow dark:bg-gray-700">
              <!-- Modal header -->
              <div class="flex justify-between items-start p-4 rounded-t border-b dark:border-gray-600">
                  <h3 class="text-xl font-semibold text-gray-900 dark:text-white">
                      Terms of Service
                  </h3>
                  <button id="close_create_space_modal" type="button" class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm p-1.5 ml-auto inline-flex items-center dark:hover:bg-gray-600 dark:hover:text-white" data-modal-toggle="defaultModal">
                      X
                  </button>
              </div>
              <!-- Modal body -->
              <div >
                <input id="searched_room" type="text" placeholder="Search ...." class="m-4 p-2  border rounded-lg">
                <div id="recommendations" class="max-h-90 overflow-hidden">

                </div>
              </div>
              
              <!-- Modal footer -->
              <div class="flex items-center p-6 space-x-2 rounded-b border-t border-gray-200 dark:border-gray-600">
                  <button id="create_new_chat_room" class="border p-2 rounded-lg">create new chat room</button>
              </div>
          </div>
      </div>
  </div>
</div>

