<!-- flex items-center justify-center-->
<div  class="h-full w-full absolute hidden bg-transparent flex justify-end items-end " id="create_task_modal" >
    <div tabindex="-1" aria-hidden="true" class="inside_modal bg-red-600  overflow-x-hidden z-50 h-modal justify-center items-center w-[30rem] h-4/5 mx-6 mb-20">
        <div class="w-full h-full bg-secondary overflow-y-auto">
            <div class="relative  shadow"> 
                



                <div class="flex flex-col">

                    ico
                    <input class="bg-black" type="text" id="name_create_task" placeholder="create task" required>
                    <div class="w-full">
                        <input class="bg-black w-full" type="text" placeholder="select list" id="task_create_select_input">
                        <div class="absolute bg-red-600 h-fit w-full  hidden" id="task_create_select_input_toggle">
                            <% for (let i = 0; i < workspaces.length; i++) { %>
                                <%= workspaces[i].name %>
                                <ul>
                                    <% for (let k = 0; k < workspaces[i].lists.length; k++) { %>
                                        <li id="<%= workspaces[i].id %>__<%= workspaces[i].lists[k]._id %>" class="selected_list_to_add_task px-6 hover:bg-green-600"><%= workspaces[i].lists[k].name %></li>
                                    <% } %>
                                </ul>
                                
                            <% } %>
                        </div>
                    </div>
                    <textarea class="bg-black" name="" id="" cols="30" rows="10"></textarea>
                    
                    <input type="text">
                    <div class="my-12 bg-black">+add subtask press to add input </div>
                    <div class="my-12 bg-black">set tags </div>
                    <div class="my-12 bg-black">set due date</div> <input type="date" name="" id="">
                    <div class="my-12 bg-black">set priority</div>
                    <button id="submit_create_task">submit</button>
                </div>





            </div>
        </div>
    </div>
</div>

