<nav class="w-full bg-green-800 border border-red-800 h-12 flex items-center">
    <div class="flex items-center w-full h-full  divide-x-2">
        <button id="extend_sidebar" class="p-2 h-full hover:bg-blue-800">icon here</button>
        
    </div>
</nav>