<nav class="w-full bg-[#2b343b]  flex flex-col items-center">
    <div class="flex items-center w-full h-full  h-12 border-b border-[#1e272e]"><!--divide-x divide-green-600-->


        <button id="extend_sidebar" class="flex flex-col justify-between px-2 h-full group">
            <div></div>
            <div class="mt-1 flex flex-row items-center space-x-2  group-hover:text-gray-600 font-extrabold"><%- include('../icons/list.svg') %> &nbsp; <div id="current_active_space_element">current space</div>  </div>
            <div class="rounded-t bg-transparent h-1 w-full   group-hover:bg-gray-600 "></div>
        </button>
        <!-- group-hover:bg-red-600 -->

        <hr class="w-0.5 h-6 bg-[#1e272e]" />

        <button id="extend_sidebar" class="flex flex-col justify-between px-2 h-full group">
            <div></div>
            <div class="mt-1 flex flex-row items-center space-x-2 text-[#7c68ee] group-hover:text-gray-600"><%- include('../icons/tasks.svg') %> &nbsp; list </div>
            <div class="rounded-t bg-transparent h-1 w-full bg-[#7c68ee]  group-hover:bg-gray-600 "></div>
        </button>

        <hr class="w-0.5  h-6 bg-[#1e272e]" />

        <button id="extend_sidebar" class="flex flex-col justify-between px-2 h-full group">
            <div></div>
            <div class="mt-1">icon here</div>
            <div class="rounded-t bg-transparent h-1 w-full  group-hover:bg-red-600"></div>
        </button>
        
    </div>
    <div class="w-full bg-[#2b343b] h-8">

    </div>
</nav>