<div class="grid gap-4  lg:grid-cols-4 md:grid-cols-3 sm:grid-cols-2 p-6">
    <% for( let index = 0; index < 100; index++ ) { %>
        <div class="p-6 border rounded-lg  bg-blue-800 drag_me">
            <h1 class="text-xl">title here</h1>
            <hr class=" h-0.5 border-red-800 bg-blue-800 self-center " />
            <ul>
                <li>hello task n</li>
                <li>hello task n</li>
                <li>hello task n</li>
                <li>hello task n</li>
                <li>hello task n</li>
            </ul>
        </div>
    <% } %>
   
</div>
