svg{
  pointer-events: none;
}
path{
  pointer-events: none;
}

.active_space{
    background-color: #7c68ee30;
    border-left: solid 4px #7c68ee;
}


.active_list{
    background-color: rebeccapurple;


    background-color: rgba(102, 51, 153, 0.3);
    border-left: solid 4px rebeccapurple;
}



.active_nav_element{}



.slist {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  .slist li {
    margin: 10px;
    padding: 15px;
    border: 1px solid #dfdfdf;
    background: #f5f5f5;
  }
  
  /* (B) DRAG-AND-DROP HINT */
  .slist li.hint {
    border: 1px solid #ffc49a;
    background: #feffb4;
  }
  .slist li.active {
    border: 1px solid #ffa5a5;
    background: #ffe7e7;
  }







#loader_parent{
  display: flex;
  justify-content: center;	
  align-items: center;
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgb(50,50,50);
}

#loader {
  border: 16px solid #f3f3f3; /* Light grey */
  border-top: 16px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}